<form class="add-form" (ngSubmit)=" agregarProyecto()">
    <div style="background-color:beige;" class="form-control">
        <div>
            <label for="aniodesde">Año desde: </label>
            <input [(ngModel)]="_aniodesde" 
                type="text" name="aniodesde" id="aniodesde"/>
            <label for="aniohasta">Año hasta: </label>
            <input [(ngModel)]="_aniohasta" 
                type="text" name="aniohasta" id="aniohasta"/>
            <label for="nombre">Nombre: </label>
            <input [(ngModel)]="_nombre" 
                type="text" name="empresa" id="empresa"/>
            
            <input style="margin-left: 30%;" type="submit" class="btn" value="guardar">
        </div>
        <div>
            <textarea [(ngModel)]="_descripcion"
                name="descripcion" id="descripcion" placeholder="descripcion"></textarea>
        </div>
    </div>
</form>
