<div id="ExpModal" class="modalContainer">
    <div class="modal-content">
        <span class="close" (click)="ocultarmodal()">x</span> 
        <h2>Modificar experiencia...</h2>
        <div class="container-fluid">
            <div class="mb-2">
                <div class="auto">
                    <input class="form-control" type="text" placeholder="Año desde...">
                </div>
            </div>
            <div class="mb-2">
                <div class="auto">
                    <input class="form-control" type="text" placeholder="Año hasta...">
                </div>
            </div>
            <div class="mb-2">
                <div class="auto">
                    <input class="form-control" type="text" placeholder="Empresa...">
                </div>
            </div>
            <div class="mb-2">
                <div class="auto">
                    <textarea class="form-control" type="textarea" placeholder="Experiencia..." row="3"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success" (click)="actualizarExperiencia()">Actualizar...</button>
                </div>   
            </div>
        </div> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="tituloSeccion">Experiencia:</h4>
        </div>
    </div>
    <div class="row lineaseccion">
        <div class="col-4">
            <h5><i class="fas fa-calendar-check">  Periodo:</i> año desde - año hasta</h5>
        </div>
        <div class="col-6">
            <h5 style="text-decoration:underline; font-weight: bold;"><i class="fas fa-industry"></i>  Empresa:</h5>
            <p>detalle experiencia...</p> 
        </div>
        <div class="col-2" *ngIf="exp_modo=='editar'">
                <i class="fas fa-edit fondoEditarBorrar" style="margin-right: 10px;" (click)="mostrarmodal()">editar</i>
                <i class="fas fa-eraser fondoEditarBorrar" (click)="borrarExperiencia()">borrar</i>
        </div>
    </div>
</div>
