{{skill_modo}}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="tituloSeccion">Soft and Hard skill:</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h4><i class="fas fa-code"></i>  Hard skill:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h5><span class="recuadro">Programacion</span></h5>
            <app-donutchart categoria="Programacion"></app-donutchart>
        </div>
        <div class="col-4">
            <h5><span class="recuadro">Base de datos</span></h5>
            <app-donutchart categoria="Bases"></app-donutchart>
        </div>
        <div class="col-4">
            <h5><span class="recuadro">Web</span></h5>
            <app-donutchart categoria="Web"></app-donutchart>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h4><i class="far fa-user-circle"></i>  Soft skill:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h5><span class="recuadro">Idioma</span></h5>
            <app-donutchart categoria="Idioma"></app-donutchart>
        </div>
        <div class="col-4">
            <h5><span class="recuadro">Otros</span></h5>
            <app-donutchart categoria="Comunicacion"></app-donutchart>
        </div>
    </div>
</div>
