<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="tituloSeccion">Educacion:</h4>
        </div>
    </div>
    <div class="row lineaseccion">
        <div class="col-4">
            <h5><i class="far fa-calendar-check">  Periodo:</i> año desde - año hasta</h5>
        </div>
        <div class="col-8">
            <h5 style="text-decoration:underline; font-weight: bold;"><i class="fas fa-school">  Institucion:</i></h5>
            <p>detalle educacion...</p> 
        </div>
    </div>
</div>

