<div id="ProyModal" class="modalContainer">
    <div class="modal-content">
        <span class="close" (click)="ocultarmodal()">x</span> 
        <h2>Modificar proyecto... ( {{_idProy}} )</h2>
        <div class="container-fluid">
            <div class="mb-2">
                <div class="auto">
                    <input class="form-control" type="text" placeholder="Nombre..."
                    [(ngModel)]="_nombre">
                    
                </div>
            </div>
            <div class="mb-2">
                <div class="auto">
                    <input class="form-control" type="text" placeholder="Año desde..."
                    [(ngModel)]="_aniodesde">
                </div>
            </div>
            <div class="mb-2">
                <div class="auto">
                    <input class="form-control" type="text" placeholder="Año hasta..."
                    [(ngModel)]="_aniohasta">
                </div>
            </div>
            <div class="mb-2">
                <div class="auto">
                    <textarea class="form-control" type="textarea" placeholder="Descripcion..." row="3"
                    [(ngModel)]="_descripcion"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success" (click)="actualizarProyecto()">Actualizar...</button>
                </div>   
            </div>
        </div> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="tituloSeccion animated bounceInRight">Proyectos: 
                <i *ngIf="pry_modo=='editar'" class="fas fa-pen" style="padding-left: 80%; cursor:pointer;" (click)="divcreacion()">
                    Nuevo:
                    <mat-slide-toggle style="margin-left: 5px;"></mat-slide-toggle>
                </i>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="pry_modo=='editar'">
            <app-add-proyecto
                (onCreateProyecto)="crearproyecto($event)" 
                *ngIf="modocreacion">
            </app-add-proyecto>
        </div>
    </div>
    <hr>
    <div class="row">
        <div *ngIf="proy.length > 0; else nohayregistros"></div>
            <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'20px'">
                <mat-grid-tile *ngFor="let p of proy">
                    <div class="col-md flip-container">
                        <div class="card micard text-center fondocards">
                            <div class="frente">
                                <div class="card-body">
                                    <h4 class="card-title resaltador"><i class="fas fa-brain">  {{p.nombre}} </i></h4>
                                    <hr>
                                    <p class="card-text">{{p.descripcion}} </p>
                                    <p class="card-text">{{p.aniodesde}} a {{p.aniohasta}}</p>
                                    <div *ngIf="pry_modo=='editar'">
                                        <i class="fas fa-edit" style="cursor: pointer; margin-right: 10px; font-size: 20px" (click)="seleccionarProyecto(p.id)"></i>
                                        <i class="fas fa-eraser" style="cursor: pointer; font-size: 20px" (click)="borrarProyecto(p.id)"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="dorso">
                                <p>>_ Argentina programa.</p>
                                <p>#YoProgramo</p>
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        <ng-template #nohayregistros><p style="color:red">No hay registros de Soft Skill</p></ng-template>
    </div>
</div>

